[submodule "backend"]
	path = backend
	url = https://github.com/NgnTienDat/exchange-crypto-spring-boot.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/NgnTienDat/exchange-crypto-react.git
